<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome!</h1><br>
    <p>Enter your locations</p>
    <form action="{{ url_for("gfg")}}" method="post">
        <label for="fname">Loctation 1:</label><br>
        <input type="text" id="loc1" name="fname"><br>
        <label for="lname">Location 2:</label><br>
        <input type="text" id="loc2" name="lname"><br>
        <button type="submit">Find a Meeting Place</button>
    </form>
</div>