<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Arial Narrow";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }

    body {
        text-align: center;
        font-size: 14pt;
        line-height: 200%;
        background-color: #ccebff;
    }
</style>

<div>
    <h1>Find a Meeting Place</h1>

</div>

<head>
    <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Address " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "Address" + (i+1);
                input.style = "margin-left:10px; padding: 10px 10px; line-height: 20px; font-size: 18px; margin-bottom:10px;"
                input.size = "50"
                container.appendChild(input);
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
            var submit = document.createElement("button");
            submit.type = "submit";
            submit.innerHTML = "Find my meeting place"
            submit.style = "width:180px;height:30px;margin-top:10px;"
            container.appendChild(submit)
        }
    </script>
</head>
<body>
    <form action="{{ url_for("gfg")}}" method="post">
        How many locations are the guests coming from?<br>
        <input type="text" id="member" name="member" value="" size="6" style="padding: 10px 10px; line-height: 20px; font-size: 18px;">
        <br>
        <button onclick="addFields()" type="button" style="width:60px;height:30px;margin-top:10px;">Enter</button>
        <div id="container"/><br>
    </form>
</body>